.search-form {
  display: flex;
  width: 20%;
  min-width: 360px;
  height: 50px;
  border-radius: 11px;
  border: 1px solid black;
  overflow: hidden;
}

.search-input {
  all: unset;
  box-sizing: border-box;
  width: calc(100% - 60px);
  padding: 0 10px;
  font-size: min(2rem, 2vw);
}

.search-submit {
  all: unset;
  box-sizing: border-box;
  width: 60px;
  border-left: 1px solid black;
  background-color: rgb(228, 0, 43);
  color: white;
  text-align: center;
  cursor: pointer;
}